<% if !order_detail.id.nil? %>

<tr>
  <td class="center" style="width:80px"><%= order_detail.quantity%></td>
  <td class="center"  style="width:100px"><%= order_detail.unit%></td>
  <td style="width:430px"><%= order_detail.product.name%></td>
  <td class="right" style="width:100px"><%= number_to_currency(order_detail.unit_price,:unit => '')%></td>
  <td class="right" style="width:100px"><% subtotal = order_detail.quantity * order_detail.unit_price %><%=  number_to_currency(subtotal,:unit=> '') %></td>
  
  <% if !@order.delivered? %>
    <td class="center" id="no_print" style="width:50px">
      <%= link_to 'Edit', edit_order_order_detail_url(@order,order_detail) %>
      <%= link_to 'Delete', order_order_detail_url(@order,order_detail), :method => :delete, :confirm => "Are you sure you want to delete detail?"%>
    </td>
  <% end %>
</tr>

<% end %>
