<div>
  <ul class="sf-menu">
    <li><%= link_to 'Maintenance' %>
      <ul>
	<li><%= link_to 'Customers', customers_url %></li>
	<li><%= link_to 'Products', products_url %></li>
      </ul>
    </li>	
    <li><%= link_to 'Transactions' %>
      <ul>
	<li><%= link_to 'Orders' %></li>
	<li><%= link_to 'Deliveries' %></li>
      </ul>
    </li>
    <li><%= link_to 'Reports' %>
      <ul>
	<li><%= link_to 'Inventory' %></li>
      </ul>
    </li>
  </ul>	
</div>
