<div id="panel1">
  <h3>DR No <%= @delivery.delivery_no %> - <%= @delivery.delivery_date %></h3>
  
  <%= render @delivery %>
  
    <table>
      <thead>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Product</th>
        <th>Price</th>
        <th>Subtotl</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <%= render(@delivery.delivery_details) %>

        <%= render :partial => 'delivery_details/form' %>

        <tr style="border:none;">
          <td style="border:none;"></td>
          <td></td>
	  <td style="border:none;" class="right" colspan="2"><b>Total Total</b></td>
	  <td style="border:none;" class="right"><b><%= number_to_currency(@delivery.total_amount, :unit => '') %></b></td>
	</tr>

      </tbody>
    </table>
</div>

<div class="clear"></div><br/>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
