<h1>Editing delivery_detail</h1>

<%= form_for([@delivery, @delivery_detail], :url => delivery_delivery_detail_path(@delivery,@delivery_detail)) do |f| %>
  <% if @delivery_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delivery_detail.errors.count, "error") %> prohibited this delivery_detail from being saved:</h2>

      <ul>
      <% @delivery_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :unit %>
    <%= f.text_field :unit %>
  </div>

  <div class="field">
    <%= f.label :product %>
    <%= text_field_tag :product, @delivery_detail.product, readonly: true %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <%= f.submit 'Save' %>

<% end %> 

<%= link_to 'Back', delivery_path(@delivery) %>
